---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<div>
	<h1 class='text-3xl font-bold mb-8'>Hello There!</h1>
	<p class='mb-6 text-lg'>
  I’m Paul Creavin, an MSc Statistics student at Stanford with interests in
  quantitative finance, machine learning, and reinforcement learning.
	</p>
	<p class='mb-6 text-lg'>
		Dolores, laudantium nostrum! Dolore vitae provident, quae voluptas tempore
		architecto quisquam ab fuga eaque vel enim eum unde facere nobis? Qui sunt,
		beatae at aliquam voluptatem a dignissimos asperiores id! Vitae repellendus
		deleniti pariatur aut alias corporis recusandae obcaecati, possimus dolorum
		delectus omnis fuga enim modi reiciendis eveniet natus voluptates aspernatur
		voluptate ex! Quaerat nam natus beatae similique, tempora ut. Cum suscipit
		rerum recusandae laborum ab ratione autem maiores sunt? Autem repellendus
		consectetur, commodi beatae unde ut ipsa aliquid deleniti perferendis
		excepturi fugiat nesciunt similique iure recusandae et? Quo, porro.
		Consequuntur, laudantium sit quia dignissimos sint totam corporis nemo
		fugiat eum repellat impedit officia odit. Nihil laboriosam sequi id porro.
		Autem at vero atque eaque perferendis suscipit ducimus distinctio eligendi!
	</p>
</div>
